*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'iconfont';


ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $brandFont;
  font-weight: 100;
}

input,
input[type="search"] {
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: $darkGray;
  vertical-align: middle;
  @include border-radius(4px);

  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);       
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.icons {
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;

}
.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  display:block;
  background: url(../imgs/logo.svg);
  width: 126px;
  height: 40px;
  background-size: contain;
  margin: 10px 0;
  text-indent: -9999px;
}

.nav {
  margin: 0 0 10px 0;

  li {
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid $gray;
    border-bottom: 0px;
    @include border-top-radius(4px);
    margin-right:6px;

    a {
      display: inline-block;
      padding: 10px;
      width: 70px;
      color: $darkGray;
      text-decoration: none;
      //@include gradient(#FFFFFF, #F5F5F5);

      &:hover {
        background-color: #FFFFFF;
        color: $black;
      }

      &.selected {
        color: $black;
        //background: #FFFFFF;
      }
    }

    &.search {
      border: 0;
      color: $darkGray;
      position: relative;
      margin: 0;

      i {
        position: absolute;
        top: 12px;
        left: 12px;
      }
      input {
        padding-left: 36px;
      }
    }
  }
}

.accordion {
  li {
    margin-bottom: 6px;
    cursor: pointer;
  }

  h2 {
    font-family: $brandFont;
    font-weight: 100;
    color: #FFFFFF;
    background: $black;
    padding: 12px;
    text-transform: uppercase;
    margin: 0;  
  }

  i {
    margin-right:12px;
  }
  .aContent {
    display: none;
  }

  & li.selected {
    
    h2 {
      background-color: $red;
    }
    i {
      @extend .icon-minus;
    }

    .aContent {
      display: block;
    }
  }
}

.noContent {
  color: $darkGray;
  background: $lightGray;
  text-align: center;
  padding: 20px 0;

  h3 {
    font-family: $brandFont;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 4px 0;
  }
}