//imports
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'iconfont';
@import 'grid';
@import 'base';

a {
  color: $link;
  text-decoration: none;
}

.icons {
  @include rem-fallback(font-size, 1);
  font-weight: 400;
  line-height: inherit;
}
.container {
  @include rem-fallback(width, 60);
  margin: 0 auto;

  @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
    width: 100%;
  }

  > header {
    .nav-wrap {
      display: none;

      @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
        background: $red;
        display: block;

        #hamburger {
          cursor: pointer;
          display: inline-block;
          @include rem-fallback(height, 1.75);
          @include rem-fallback(width, 1.75);
          @include rem-fallback(padding, 0.25 0.25 0.1875 0.25);
          position: relative;
          top: 4px;
          margin-left: 0;

          .stripe {
            @include border-radius(3px);
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            height: 0;
            @include rem-fallback(margin-top, 0.1875);
            width: 90%;
          }
        }

        sub {
          font-family: $brandFont;
          font-weight: normal;
          @include rem-fallback(bottom, 0.5);
          vertical-align: middle;
          color: #FFFFFF;
          @include rem-fallback(font-size, 1);
        }
      }
    }
  }
}

.logo {
  display: block;
  background: url(../imgs/logo.svg);
  @include rem-fallback(width, 7.875);
  @include rem-fallback(height, 2.5);
  background-size: contain;
  @include rem-fallback(margin, 0.625 0);
  text-indent: -9999px;

  @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
    display: inline-block;
    vertical-align: top;
    @include rem-fallback(margin-left, 0.3125);
    @include rem-fallback(margin-right, 0.3125);
  }
}

.title {
  @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
    display: inline-block;
  }
}

//tabbed navigation
.nav {
  @include rem-fallback(margin, 0 0 0.625 0);

  li {
    text-align: center;
    position: relative;
    display: inline-block;
    @include rem-fallback(margin-right, 0.375);

    @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
      display: block;
      text-align: left;
      margin:0;
      border-top: 1px solid #777777;
      border-bottom: 1px solid #888888;

      &:first-child {
        border-top: none;
      }
    }

    a {
      display: inline-block;
      @include rem-fallback(padding, 0.625);
      @include rem-fallback(width, 4.375);
      color: $darkGray;
      text-decoration: none;
      border: 1px solid $gray;
      border-bottom: 0px;
      @include border-top-radius(4px);
      @include gradient(#FFFFFF, #F5F5F5);

      @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
        display: block;
        color: #FFFFFF;
        border-radius: 0;
        background: transparent;
        width: 100%;
        border: none;
      }

      &:hover {
        background-color: #FFFFFF;
        color: $black;

        @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
          background-color: transparent;
          color: #FFFFFF;
        }
      }

    }
    &.selected {
      a {
        color: $black;
        background: #FFFFFF;
      }
    }
    &.search {
      border: 0;
      color: $darkGray;
      position: relative;
      margin: 0;

      @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
        border-bottom: none;
        padding-top: 22px;
      }

      i {
        position: absolute;
        top: 14px;
        left: 12px;

        @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
          top: 34px;
          left: 22px;
        }
      }
      input {
        padding-left: 36px;
        @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
          @include rem-fallback(margin-left, 0.75); 
        }
      }
    }
  }

  @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: $darkGray;
    width: 80%;

    &.open {
      display: block;
    }
  }
}

//accordion navigation
.accordion {
  li {
    @include rem-fallback(margin-bottom, 0.375);
    cursor: pointer;
  }

  h2 {
    font-family: $brandFont;
    font-weight: 100;
    color: #FFFFFF;
    background: $black;
    @include rem-fallback(padding, 0.75);
    text-transform: uppercase;
    margin: 0;  
  }

  i {
    @include rem-fallback(margin-right, 0.75);
    display: inline-block;
    vertical-align: middle;
    @include rem-fallback(height, 1.3);
  }
  .aContent {
    display: none;
  }

  & li.selected {
    
    h2 {
      background-color: $red;

      i {
        @extend .icon-minus;
      }
    }

    .aContent {
      display: block;
    }
  }
}

//deals
.aContent {
  @extend .grid;

  //single deal
  article {
    @include clearfix();

    &:nth-child(odd) {
      background: $lightGray;
    }

    header {
      @include rem-fallback(padding, 0.625 0 0 0);
      h1 {
        font-family: arial, sans-serif;
        margin: 0;
        color: $black;
        @include rem-fallback(font-size, 1.5);
      }

      p {
        color: $darkGray;
        @include rem-fallback(font-size, 0.75);
      }
    }

    a {
      @include rem-fallback(padding-top, 0.625);
      @include rem-fallback(padding-right, 0.625);
      text-align: right;
      @include rem-fallback(font-size, 0.875);
    }

    @media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {
      padding: 1rem;

      img, header, a {
        display: block;
        clear: both;
        width: 100%;
      }

      img {
        width: 60%;
      }
    }
  }
}

// No availabe deals, error message
.noContent {
  color: $darkGray;
  background: $lightGray;
  text-align: center;
  @include rem-fallback(padding, 1.25 0);

  h3 {
    font-family: $brandFont;
    font-weight: 300;
    text-transform: uppercase;
    @include rem-fallback(margin, 0 0 0.25 0);
  }
}
